@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol !important;
  /* ✅ Override font */
}
 

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

 .announcement-root {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.57143;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: rgba(7, 141, 238, 0.16);
  color: rgb(7, 141, 238);
  padding-left: 32px;
}

/* Icon */
.announcement-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-svg {
  width: 20px;
  height: 20px;
  display: inline-flex;
  flex-shrink: 0;
}

/* Marquee text */
.announcement-message {
  display: inline-flex;
  animation: marquee-scroll 24.37s linear infinite;
}

/* Animation (same MUI behavior) */
@keyframes marquee-scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.custom-swiper-container .swiper-pagination {
  position: absolute !important;
  top: 16px !important;
  left: 16px !important;
  width: auto !important;
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
  z-index: 50 !important;
  /* Z-index barha diya hai */
}

.custom-swiper-container .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  transition: all 0.3s ease !important;
  margin: 0 !important;
}

.custom-swiper-container .swiper-pagination-bullet-active {
  width: 20px !important;
  background: #40c4ff !important;
  border-radius: 10px !important;
  opacity: 1 !important;
}

.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}